/* Footer styling */
footer {
    position: fixed; /* Fix the footer at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1; /* Adjust as needed */
    padding: 0px 0; /* Reduced padding to decrease footer height */
    text-align: center;
    z-index: 100;
    font-size: 12px; /* Optionally adjust font size to reduce footer height */
}

/* Add padding to the body to prevent content from being overlapped by the footer */
body {
    padding-bottom: 80px; /* Increased padding for more space below the content */
}

/* Ensure content does not get hidden behind the footer in short pages */
main {
    padding-bottom: 80px; /* Increased this value to match the body padding */
}

/* Style for inline code (text in backticks) */
code {
    background-color: #2c6e2f; /* Dark green background */
    color: white;              /* White text */
    padding: 0.2em 0.4em;      /* Optional: add some padding to make it stand out */
    border-radius: 4px;        /* Optional: rounded corners for a softer look */
}

/* Adjust spacing between navigation items when collapsed */
.md-nav .md-nav__list {
    padding-top: 10px; /* Add top padding to the entire list */
}

.md-nav .md-nav__item {
    margin-bottom: 10px;  /* Add space between each navigation item */
}

/* Reduce space between headings and normal text */
.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    font-weight: bold;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0.5em !important; /* Force this with !important */
}

/* Optionally reduce space between paragraphs and headings */
.md-content p {
    margin-top: 0.5em !important; /* Add !important to ensure it takes precedence */
}

/* centers all images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }